<button (click)="goBack()" class="back-button">← Back</button>
<div class="movie-details" *ngIf="movie">
    <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}" class="movie-poster">
    <div class="movie-info">
        <h2>{{ movie.title }}</h2>
        <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
        <p><strong>Genres:</strong> {{ genres }}</p>
        <p><strong>Rating:</strong> ⭐ {{ movie.vote_average }} / 10</p>
        <p><strong>Overview:</strong> {{ movie.overview }}</p>
        <h3>Cast</h3>
            <ul>
                <li *ngFor="let member of cast">{{ member.name }} as {{ member.character }}</li>
            </ul>
        <h3>Crew</h3>
            <ul>
                <li *ngFor="let crewMember of crew">{{ crewMember.name }} - {{ crewMember.job }}</li>
            </ul>
    </div>
    <div *ngIf="trailerUrl">
        <h3>Watch Trailer</h3>
        <iframe width="560" height="315" [src]="trailerUrl | safe" frameborder="0" allowfullscreen></iframe>
    </div>
    
</div>
