<nav class="navbar">
    <div class="logo">
        <a routerLink="/">
            <img src="assets/movie.jpg" alt="Logo" class="logo-img">
            <span class="logo-text">Flick & Chill</span>
        </a>
    </div>

    <div class="center-links">
        <ul class="nav-links">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/movie">Movies</a></li>
            <li><a routerLink="/tv">TV Shows</a></li>
            <li><a routerLink="/genres">Genres</a></li>
            <li><a routerLink="/trailers">Trailers</a></li>
            <li><a routerLink="/actors">Actors</a></li>
        </ul>
    </div>

    <div class="search-link">
        <a routerLink="/search">Search</a>
    </div>
</nav>


